body{
    background-color: #8087F0;
    color: #323446;
}

div{
    background-color: #B39F54;
    color: #323446;
}

button{
    background-color: #F0D262;
    color: #323446;
}

h1{
    background-color: #706E64;
    color: #323446;
}

p{
    background-color: #73769B;
    color: #323446;
}